.about {
    background-color: rgba($color: $teal, $alpha: 0.1);
    padding: 50px 0;
}

.gallery-cell {
    width: 100%;
    margin-right: 10px;
    counter-increment: gallery-cell;
    display: flex;
    div {
        margin: 20px 10px;
        h2 {
            font-family: $heading;
            color: $blue;
            text-align: center;
            font-size: 5rem;
            margin-bottom: 20px;
        }
        p {
            line-height: 1.5;
            font-size: 2rem;
        }
    }
}

.portrait-image {
        object-fit: cover;
        width: 400px;
        height: 550px;
    }

.landscape-image {
    object-fit: cover;
    width: 600px;
    height: 550px;
}

/* cell number */
// .gallery-cell:before {
//   display: block;
//   text-align: center;
//   content: counter(gallery-cell);
//   line-height: 200px;
//   font-size: 80px;
//   color: white;
// }