*{padding: 0; margin: 0;}html{font-size: 62.5%;}.wrapper{max-width: 1400px; width: 95%; margin: 0 auto;}ul{list-style: none;}a{text-decoration: none;}img{width: 100%; height: auto; display: block;}button{cursor:pointer}h1{margin:0}

// color palette
$red: #c31727;
$blue: #103b53;
$pink: #F6D8D6;
$teal: #15697C;
$orange: #D38C6A;

// typography
$heading: 'Montserrat', sans-serif;

@font-face {
    font-family: clearSans;
    src: url(../typography/clear-sans.medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: clearSans;
    src: url(../typography/clear-sans.regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: clearSans;
    src: url(../typography/clear-sans.light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: clearSans;
    src: url(../typography/clear-sans.thin.ttf);
    font-weight: 100;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: clearSans;
    font-weight: 400;
    font-size: 1.8rem;
}

a,
a:visited {
    color: black;
}