.home {
    background-image: url(../assets/FitsHeader.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navBar,
.navLinks,
.sandalNav {
    display: flex;
}

.navBar {
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba($color: white, $alpha: 0.8);
    font-size: 2rem;
    font-weight: 500;
    height: 6rem;
    z-index: 5;
}

.navLinks {
    width: 100vw;
    justify-content: center;
}

.navLinks li {
    margin: 0 25px;
}

.navLinks a:hover,
.navLinks a:focus {
    color: $red;
    transition: 0.2s;
}

.navLinks a:focus {
    outline: none;
}

.logo {
    position: absolute;
    top: 5px;
    background-image: url(../assets/FITS_logo.png);
    background-size: cover;
    width: 10rem;
    height: 5rem;
}

.mobileMenu {
    display: none;
    div {
        width: 25px;
        height: 3px;
        margin: 5px 0;
        background-color: black;
        transition: all 0.3s ease-in-out;
    }
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.homeh1 {
    margin-top: 30vh;
    color: white;
    text-shadow: 5px 5px $red;
    font-size: 12rem;
    letter-spacing: 5px;
    width: 75%;
}

.downBtn {
    font-size: 10rem;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    // animation: pulse 2s infinite;
}

