/* Portrait tablet and small desktops */
@media (max-width: 1201px) {
    // HEADER
    .homeh1 {
        font-size: 9rem;
        width: 100%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 886px) {
    // HEADER
    .navBar {
        padding: 0;
    }

    .logo {
        margin-left: 15px;
    }

    .mobileMenu {
        display: block;
        position: fixed;
        right: 0;
        z-index: 10;
        margin: 15px;

    }

    .navLinks {
        background-color: rgba($color: white, $alpha: 0.9);
        position: fixed;
        transform: translateX(100%);
        width: 100%;
        height: 100%;
        top: 0;
        transition: transform 0.3s ease-in;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        li {
            width: 100%;
            font-size: 3.5rem;
            padding: 10px 0;
            margin: 15px 0;
            text-align: center;
        }
    }

    .navOpen {
        transform: translateX(0%);
    }

    .mobileMenu {
        transition: all 3s ease-in;
    }

    .close .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .close .line2 {
        opacity: 0;
    }

    .close .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    // SAMPLE STYLES
    .styleContainer {
        width:300px;
        height:200px; 
    }

    .womenStyles,
    .menStyles{
        img {
            width:300px;
            height:200px; 
        }
    }

    .stylesBtn {
        font-size: 3rem;
    }

    // ABOUT / CAROUSEL SECTION
    .gallery-cell {
        flex-direction: column;
        img {
            margin: auto;
        }
        div h2 {
            font-size: 3.5rem;
        }
    }

    .portrait-image {
        width: 300px;
        height: 450px;
    }

    .landscape-image {
        object-fit: contain;
        width: 450px;
        height: 350px;
    }

    // ORDER SECTION
    .genderBtn {
        font-size: 3rem;
        width: 20rem;
    }

    video {
        width: 90%;
    }

    .modelPreview img {
        object-fit: contain;
        width: 90%;
        max-height: 300px;
    }

    .orderSummary div {
        height: auto;
    }

    .imageSummary h3 {
        margin-top: 30px;
    }

    .formSelections {    
        textarea,
        input {
            max-width: 200px;
        }
    }
}

/* Landscape phones and down */
@media (max-width: 681px) {
    .homeh1 {
        font-size: 6rem;
    }

    .sampleStyles {
        flex-direction: column;
    }

    .portrait-image,
    .landscape-image {
        max-width: 250px;
        max-height: 350px;
    }

    // CONTACT SECTION

    .contactInfo {
        text-align: center;
    }

    .contactForm {
        width: 90%;
        padding: 20px 35px;
    }

    

}