.orderh1 {
    color: $blue;
    font-size: 5rem;
    margin-top: 100px;
}

.modelSelection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.radioImage {
    width: 100px;
}

.testDiv {
    margin-top: 30vh;
    text-align: center;
}

.testBtn {
    font-size: 5rem;
    display: inline-block;
    margin: 15px;
    border: 5px solid red;
}