.tealBkgd {
    background-color: rgba($color: $teal, $alpha: 0.1);
}

.orderh1 {
    color: $blue;
    font-size: 5rem;
    margin-top: 100px;
}

.orderContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modelPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    // img {
    //     object-fit: cover;
    //     width: 40%;
    //     height: 400px;
    // }
}

.hiddenText {
    display: none;
    text-align: center;
    color: $red;
}

.formSelections {
    // border: 2px solid rgba($color: $blue, $alpha: 0.5);
    // background-color: rgba($color: white, $alpha: 0.5);
    margin: 20px 0;
    // padding: 20px;
    // box-shadow: 0px 3px 15px rgba($color: $blue, $alpha: 0.2);
}

.modelSelection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    justify-content: center;
    gap: 10px;
    label {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        padding: 5px 0;
        border: 3px solid transparent;
        box-shadow: 2px 2px 5px rgba($color: black, $alpha: 0);
        img {
            margin-bottom: 5px;
        }
        input[type="radio"] {
            display: none;
        }
    }  
}


.radioImage {
    width: 100px;
    border-radius: 0% 75% 75% 0% / 100% 100% 100% 100%;
}

.modelImage {
    object-fit: cover;
    min-width: 200px;
    border-radius: 0;
}

// .selectionLabel {
//     background-color: white;
// }

.orderMain {
    margin-top: 10vh;
    text-align: center;
}

.btn {
    display: inline-block;
    font-size: 5rem;
    margin: 20px;
    padding: 5px 0;
    width: 30rem;
    color: white;
    background-color: rgba($color: $blue, $alpha: 0.8);
    border: none;
}

.btn:visited {
        color: white;
}  

.preview {
    display: flex;
    justify-content: space-evenly;
    img {
        width: 600px;
    }
}

video {
    width: 700px;
    margin-top: 30px;
    border: 2px solid rgba($color: $blue, $alpha: 0.5);
    box-shadow: 0px 3px 15px rgba($color: $blue, $alpha: 0.2);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.prevBtn,
.nextBtn, 
.startOverBtn {
    border-radius: 15px;
    box-shadow: -5px 5px 5px rgba($color: black, $alpha: 0.2);
}

.startOverBtn {
    background-color: rgba($color: $red, $alpha: 0.5);
    margin-right: 50px;
}

button:disabled {
    background: #dddddd;
    cursor: default;
}

.formSelections {
    text-align: center;
    h2 {
        margin: 20px 0 15px 0;
    }
    h3 {
        margin: 15px 0 10px 0;
    }
    p, div {
        margin: 10px 0;
    }
    span{
        font-weight: 500;
    }
    textarea {
        width: 300px;
        height: 100px;
    }
    label {
        margin: 10px 0 5px 0;
        font-weight: 500;
    }
    input,
    textarea {
        padding: 5px;
        border: 1px solid rgba($color: $blue, $alpha: 0.3);
    }
}

.orderSummary {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // flex-wrap: wrap;
    div {
        margin: 0 auto;
        width: 300px;
        // height: 220px;
        display: flex;
        justify-content: space-between;
        p {
            width: 200px;
        }
        img {
            width: 100px;
            margin: 5px auto;
        }
    }
    
}

// .imageSummary {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div {
        margin: 10px;
    }
}