.sampleStyles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.styleContainer {
    position: relative;
    width:400px;
    height:300px; 
    margin: 20px 20px 100px 20px;
}

.womenStyles,
.menStyles{
    img {
        display:none;
        width:400px;
        height:300px; 
    }
    img:active {
        display:block;
    }
}

.stylesBtn {
    display: block;
    font-family: $heading;
    font-size: 5rem;
    font-weight: 500;
    box-shadow: 0px 3px 15px rgba($color: $blue, $alpha: 0.2);
    p {
        text-align: center;
        padding: 10px 0;
        color: $blue;
    }
}

.stylesBtn:hover {
    background-color: rgba($color: $blue, $alpha: 0.1);
    box-shadow: 0px 3px 15px rgba($color: $blue, $alpha: 0.8);
    transition: 0.3s;
}
