html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}

h1 {
  margin: 0;
}

@font-face {
  font-family: clearSans;
  src: url(../typography/clear-sans.medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: clearSans;
  src: url(../typography/clear-sans.regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: clearSans;
  src: url(../typography/clear-sans.light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: clearSans;
  src: url(../typography/clear-sans.thin.ttf);
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: clearSans;
  font-weight: 400;
  font-size: 1.8rem;
}

a,
a:visited {
  color: black;
}

/*! Flickity v2.2.2
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 5px #19F;
          box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.home {
  background-image: url(../assets/FitsHeader.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar,
.navLinks,
.sandalNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar {
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  font-weight: 500;
  height: 6rem;
  z-index: 5;
}

.navLinks {
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navLinks li {
  margin: 0 25px;
}

.navLinks a:hover,
.navLinks a:focus {
  color: #c31727;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navLinks a:focus {
  outline: none;
}

.logo {
  position: absolute;
  top: 5px;
  background-image: url(../assets/FITS_logo.png);
  background-size: cover;
  width: 10rem;
  height: 5rem;
}

.mobileMenu {
  display: none;
}

.mobileMenu div {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.homeh1 {
  margin-top: 30vh;
  color: white;
  text-shadow: 5px 5px #c31727;
  font-size: 12rem;
  letter-spacing: 5px;
  width: 75%;
}

.downBtn {
  font-size: 10rem;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.sampleStyles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

.styleContainer {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 20px 20px 100px 20px;
}

.womenStyles img,
.menStyles img {
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
  width: 400px;
  height: 300px;
}

.womenStyles img:active,
.menStyles img:active {
  display: block;
}

.stylesBtn {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  -webkit-box-shadow: 0px 3px 15px rgba(16, 59, 83, 0.2);
          box-shadow: 0px 3px 15px rgba(16, 59, 83, 0.2);
}

.stylesBtn p {
  text-align: center;
  padding: 10px 0;
  color: #103b53;
}

.stylesBtn:hover {
  background-color: rgba(16, 59, 83, 0.1);
  -webkit-box-shadow: 0px 3px 15px rgba(16, 59, 83, 0.8);
          box-shadow: 0px 3px 15px rgba(16, 59, 83, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about {
  background-color: rgba(21, 105, 124, 0.1);
  padding: 50px 0;
}

.gallery-cell {
  width: 100%;
  margin-right: 10px;
  counter-increment: gallery-cell;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-cell div {
  margin: 20px 10px;
}

.gallery-cell div h2 {
  font-family: "Montserrat", sans-serif;
  color: #103b53;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 20px;
}

.gallery-cell div p {
  line-height: 1.5;
  font-size: 2rem;
}

.portrait-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 400px;
  height: 550px;
}

.landscape-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 600px;
  height: 550px;
}

/* cell number */
.contact {
  margin: 50px 0;
}

.contact h3 {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: #103b53;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactInfo {
  margin: 30px 20px;
  padding: 20px;
  line-height: 1.2;
}

.contactInfo p:nth-of-type(4) {
  margin-top: 15px;
}

.contactForm {
  border: 2px solid rgba(16, 59, 83, 0.5);
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  padding: 20px 60px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-shadow: 0px 3px 15px rgba(16, 59, 83, 0.2);
          box-shadow: 0px 3px 15px rgba(16, 59, 83, 0.2);
}

.contactForm label {
  margin: 10px 0 5px 0;
  font-weight: 500;
}

.contactForm input,
.contactForm textarea {
  padding: 5px 10px;
  border: 1px solid rgba(16, 59, 83, 0.3);
}

button {
  margin: 20px auto;
  padding: 5px 0;
  width: 15rem;
  color: white;
  background-color: rgba(16, 59, 83, 0.8);
  border: none;
}

.tealBkgd {
  background-color: rgba(21, 105, 124, 0.1);
}

.orderh1 {
  color: #103b53;
  font-size: 5rem;
  margin-top: 100px;
}

.orderContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.modelPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.hiddenText {
  display: none;
  text-align: center;
  color: #c31727;
}

.startOverBtn {
  background-color: rgba(195, 23, 39, 0.5);
  margin-right: 50px;
}

.formSelections {
  border: 2px solid rgba(16, 59, 83, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 15px rgba(16, 59, 83, 0.2);
          box-shadow: 0px 3px 15px rgba(16, 59, 83, 0.2);
}

.modelSelection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.modelSelection label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  border: 3px solid transparent;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}

.modelSelection label img {
  margin-bottom: 5px;
}

.modelSelection label input[type="radio"] {
  display: none;
}

.radioImage {
  width: 100px;
}

.orderMain {
  margin-top: 10vh;
  text-align: center;
}

.btn {
  display: inline-block;
  font-size: 5rem;
  margin: 20px;
  padding: 5px 0;
  width: 30rem;
  color: white;
  background-color: rgba(16, 59, 83, 0.8);
  border: none;
}

.btn:visited {
  color: white;
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.preview img {
  width: 600px;
}

video {
  width: 700px;
  margin-top: 30px;
  border: 2px solid rgba(16, 59, 83, 0.5);
  -webkit-box-shadow: 0px 3px 15px rgba(16, 59, 83, 0.2);
          box-shadow: 0px 3px 15px rgba(16, 59, 83, 0.2);
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

button:disabled {
  background: #dddddd;
  cursor: default;
}

.formSelections {
  text-align: center;
}

.formSelections h2 {
  margin: 20px 0 15px 0;
}

.formSelections h3 {
  margin: 15px 0 10px 0;
}

.formSelections p, .formSelections div {
  margin: 10px 0;
}

.formSelections span {
  font-weight: 500;
}

.formSelections textarea {
  width: 300px;
  height: 100px;
}

.formSelections label {
  margin: 10px 0 5px 0;
  font-weight: 500;
}

.formSelections input,
.formSelections textarea {
  padding: 5px;
  border: 1px solid rgba(16, 59, 83, 0.3);
}

.orderSummary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.orderSummary div {
  margin: 0 15px;
  width: 150px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.orderSummary div:first-of-type {
  width: 350px;
}

.orderSummary img {
  width: 100px;
  margin: 5px auto;
}

.imageSummary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex div {
  margin: 10px;
}

.dynamicLogo {
  text-transform: uppercase;
  display: none;
}

/* Portrait tablet and small desktops */
@media (max-width: 1201px) {
  .homeh1 {
    font-size: 9rem;
    width: 100%;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 886px) {
  .navBar {
    padding: 0;
  }
  .logo {
    margin-left: 15px;
  }
  .mobileMenu {
    display: block;
    position: fixed;
    right: 0;
    z-index: 10;
    margin: 15px;
  }
  .navLinks {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navLinks li {
    width: 100%;
    font-size: 3.5rem;
    padding: 10px 0;
    margin: 15px 0;
    text-align: center;
  }
  .navOpen {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .mobileMenu {
    -webkit-transition: all 3s ease-in;
    transition: all 3s ease-in;
  }
  .close .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .close .line2 {
    opacity: 0;
  }
  .close .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  .styleContainer {
    width: 300px;
    height: 200px;
  }
  .womenStyles img,
  .menStyles img {
    width: 300px;
    height: 200px;
  }
  .stylesBtn {
    font-size: 3rem;
  }
  .gallery-cell {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery-cell img {
    margin: auto;
  }
  .gallery-cell div h2 {
    font-size: 3.5rem;
  }
  .portrait-image {
    width: 300px;
    height: 450px;
  }
  .landscape-image {
    -o-object-fit: contain;
       object-fit: contain;
    width: 450px;
    height: 350px;
  }
  .btn {
    font-size: 3rem;
    width: 20rem;
  }
  video {
    width: 90%;
  }
  .modelPreview img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 90%;
    max-height: 300px;
  }
  .orderSummary div {
    height: auto;
  }
  .imageSummary h3 {
    margin-top: 30px;
  }
  .formSelections textarea,
  .formSelections input {
    max-width: 200px;
  }
}

/* Landscape phones and down */
@media (max-width: 681px) {
  .homeh1 {
    font-size: 6rem;
  }
  .sampleStyles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portrait-image,
  .landscape-image {
    max-width: 250px;
    max-height: 350px;
  }
  .contactInfo {
    text-align: center;
  }
  .contactForm {
    width: 90%;
    padding: 20px 35px;
  }
}
